.container{
  text-align: center;
  position: relative;
  width: 100%;
  display: block;
 }
.centered{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 40px;

}
h10{
  font-size:30px;
  text-align: center;
}
.PARTY{
  background-color: #f15a29;
  font-size: 30px;
  height: 90px;
  width: 100%
}
.HAPPY{
  background-color: white;
  font-size: 24px;
  height: 90px;
  width: 100%;
}
.header{
  text-align: center;
  background: url("../images/landing.jpg");
  background-size: cover;
  height: 500px;
  padding:0px;
  width: 100%;
}
.pg{
  text-align:center;
}
h9{
  color:#ffffff;
}
.container-fluid-2{
  background-image:url("../images/subscribe.jpg");
  padding: 105px;
  text-align: center;
}
.container-fluid-3{
  background-color: #F15A29;
  text-align: center;
}
.container-fluid-4{
  padding-top: 200px;
  background-repeat: no-repeat;
  text-align: center;
  color: white
}
h8{
  color:white;
}
