.header2{
  display: block;
 }
.centered{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 40px;

}
h10{
  font-size:30px;
  text-align: center;
}
.PARTY{
  text-align: center;
  background-color: #f15a29;
  font-size: 24px;
  height: 85px;
  width: auto;
}
.HAPPY{
  text-align: center;
  background-color: white;
  font-size: 24px;
  height: 85px;
  width: auto;
}
.header{
  text-align: center;
  background: url("../images/landing.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
}
.pg{
  text-align:center;
}
h9{
  color:#ffffff;
}
.container-fluid-2{
  background-image:url("../images/subscribe.jpg");
  padding: 105px;
  text-align: center;
}
.container-fluid-3{
  background-color: #F15A29;
  text-align: center;
}
.container-fluid-4{
  padding-top: 200px;
  background-repeat: no-repeat;
  text-align: center;
  color: white
}
h8{
  color:white;
}
.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: #111;
  overflow-x:hidden;
  transition:0.5s;
}
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.header span{
  float: left;
}
